<p>Home Rankings</p>
<p><a routerLink="register" routerLinkActive="true">Cadastrar competidor</a></p>
<section class="cubingEvents">
    <div>Modalidade</div>
    <button (click)="changeEventTo('222')">222</button>
    <button (click)="changeEventTo('333')">333</button>
    <button (click)="changeEventTo('444')">444</button>
    <button (click)="changeEventTo('555')">555</button>
    <button (click)="changeEventTo('666')">666</button>
    <button (click)="changeEventTo('777')">777</button>
    <button (click)="changeEventTo('minx')">minx</button>
</section>
<section class="states">
    <div>Estado</div>
    <button (click)="changeStateTo('PR')">PR</button>
    <button (click)="changeStateTo('SC')">SC</button>
    <button (click)="changeStateTo('SP')">SP</button>
</section>
<section class="kindOfResult">
    <div>Tipo</div>
    <button (click)="changeKindTo('single')">Single</button>
    <button (click)="changeKindTo('average')">Average</button>
</section>
<div class="row mt-3">
    <div class="col">
        <h1>Sort & Filter Data Tables in Angular</h1>

        <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th class="text-center" width="20">#</th>
                <th class="text-center">Nome</th>
                <th class="text-center" width="100">{{ currentKindOfResult[0].toUpperCase() + currentKindOfResult.substring(1) }}</th>
                <th class="text-center" width="100">Estado</th>
                <th class="text-center">Competição</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let result of filteredResults; index as idx">
                <td>{{ idx + 1 }}</td>
                <td>{{ result.name }}</td>
                <td>{{ result.result }}</td>
                <td>{{ result.state }}</td>
                <td>{{ result.competition }}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
