<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div id="alignTop">
    <h1>Ranking Estadual</h1>

    <a routerLink="register" routerLinkActive="true">Cadastrar</a>
</div>

<!--                        INFORMAÇÕES GERAIS                          -->
<section id="info">
    <h6>Notas:</h6>
    <div class="generalInfo">Este é um ranking semi-oficial, utilizando os resultados públicos oficiais das competições da WCA,
        porém adicionando um filtro não suportado no site da WCA (o Estado de cada competidor).
    </div>
    <div class="generalInfo">O ranking é atualizado <i>somente uma vez ao dia</i>. Se você já se cadastrou mas ainda não está aparecendo na tabela, aguarde até a próxima atualização (amanhã).</div>
    <div id="updatedInfo">Última Atualização: <i>{{ results['latest_update'] }}</i></div>
</section>

<section class="cubingEvents">
    <h6>Modalidade</h6>
    <i *ngFor="let evt of events" class="cubing-icon icon event-{{evt}} {{currentEvent == evt ? 'icon-selected' : ''}}" (click)="changeEventTo(evt)"> </i>
</section>

<!--                     JUNÇÃO DAS SEÇÕES PARA ALINHAMENTO              -->

<div class="alignSection">

<!--                           TIPO MODALIDADE             -->

    <section class="kindOfResult">
        <h6>Tipo</h6>
        <button  (click)="changeKindTo('single')" id="buttonSingle" [ngClass]="currentKindOfResult == 'single' ? 'active' : ''">Single</button>
        <button (click)="changeKindTo('average')" id="buttonAverage" [ngClass]="currentKindOfResult == 'average' ? 'active' : ''">Average</button>
    </section>
    
    <!--                           SELEÇÃO DE ESTADO          -->

    <section class="states">
        <h6>Estado</h6>
        <select #selectedState (change)="changeStateTo(selectedState.value)">
            <option value="" default>Todos</option>
            <option *ngFor="let state of states" [value]="state.abbrev">{{ state.name }}</option>
        </select>
    </section>
</div>

<!--                         LISTAGEM DE COMPETIDORES                   -->

<div class="row mt-3">
    <div class="col">
        <div class="table-responsive">
        <table  id="tableStyle">
            <thead class="thead-light">
            <tr>
                <th class="text-center" width="20">#</th>
                <th class="text-center">Nome</th>
                <th class="text-center" width="100">{{ currentKindOfResult[0].toUpperCase() + currentKindOfResult.substring(1) }}</th>
                <th class="text-center" width="100">Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let result of tabledResults; index as idx" id="names">
                <td>{{ (currentPage*resultsPerPage) + idx + 1 }}</td>
                <td>{{ result.name }}</td>
                <td>{{ viewResult(result.result) }}</td>
                <td>{{ result.state }}</td>
            </tr>
            </tbody>
        </table>
        </div>

        <!--                   BOTÕES DE PAGINAÇÃO                   -->

        <div class="pagination" *ngIf="filteredResults.length >= resultsPerPage">
            <div id="pagination-first" class="pageButton" (click)="goToPage(0)"><i class="fa-solid fa-angles-left"></i></div>
            <div id="pagination-left" class="pageButton" (click)="goToPage(currentPage-1)"><i class="fa-solid fa-angle-left"></i></div>
            <div> Página {{ currentPage+1 }} / {{ lastPage+1 }} </div>
            <div id="pagination-right" class="pageButton" (click)="goToPage(currentPage+1)"><i class="fa-solid fa-angle-right"></i></div>
            <div id="pagination-last" class="pageButton" (click)="goToLastPage()"><i class="fa-solid fa-angles-right"></i></div>
        </div>
    </div>
</div>
