<section *ngIf="!isLogged()">
    <p>Você precisa logar na WCA para poder se cadastrar no Ranking.</p>
    <button (click)="login()">Login</button>
</section>

<section class="cadastro" *ngIf="isLogged()">
    <form [formGroup]="dropDownForm">
        <label>WCA ID: {{ getCurrentWcaId() }}</label>
        <select formControlName="stateForm">
            <option selected></option>
            <option *ngFor="let state of states" [value]="state.abbrev">{{ state.name }}</option>
        </select>
        <button (click)="submit()">{{ userData ? 'Atualizar' : 'Cadastrar' }}</button><br>
    </form>
</section>
