<section *ngIf="!isLogged()">
    <p>Você precisa logar na WCA para poder se cadastrar no Ranking.</p>
    <button (click)="login()">Login</button>
</section>

<section class="cadastro" *ngIf="isLogged()">
    <form [formGroup]="dropDownForm">
        <label>ID WCA: {{ getCurrentWcaId() }}</label><br>
        <label>Estado: </label>
        <select formControlName="stateForm">
            <option selected></option>
            <option *ngFor="let state of states" [value]="state.abbrev">{{ state.name }}</option>
        </select><br>
        <button [disabled]="processing" (click)="submit()">
            {{ processing ? 'Processando...' : userData ? 'Atualizar' : 'Cadastrar' }}
        </button><br>
        <div *ngIf="error_msg" class="error-label">{{ error_msg }}</div>
        <div *ngIf="success_msg" class="ok-label">{{ success_msg }}</div>
    </form>
</section>

<p><a routerLink="/" routerLinkActive="true">Voltar para Página Inicial</a></p>
